*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #181D31;
}

nav{
    border: 1px solid black;
    width: 100%;
    height: 80px;
    box-sizing: content-box;
    background-color: #181D31;
    display: flex;
    justify-content: space-between;
}
.nav_content{
    height: 80px;
    width: 400px;
    /*border: 1px solid yellow;*/
    justify-content: space-between;

}
.menu{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.menu_item{
    display: flex;
    
}
.menu_lnk{
    width: 150px;
    text-decoration: none;
    background-color: #E6DDC4;
    border-radius: 10px;
    /*border: 1px solid gray;*/
    box-shadow: 3px 3px #678983;
    color: #181D31;
    text-align: center;
    margin: 15px;
    padding: 10px;
}
.menu_lnk:hover{
    font-weight: bolder;
}
.menu_lnk:active{
    box-shadow: 0px 0px darkgray;
    transform: translate(3px, 2px);
}
header{
    background: url(./assets/imagenes/codigo.jpg) 50% 0 fixed ;
    background-size: cover;
    min-height: 500px;
    color: #eeeeee;
    font-size: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 100px;
}
.titulo{
    text-align: center;
    opacity: 0;
    animation: titulo_animar 2s ease-in forwards;
}
h1{
    text-shadow: 2px 2px gray, 6px 6px black;
}
h2{
    text-shadow: 2px 2px black;
    font-size: 40px;
    text-align: center;
    color: #678983;
}

main{
    /*border: 1px solid black;background-color: #181D31;*/
    width: 100%;
    box-sizing: content-box;
    display: flex;
    margin: 100px 0px;
    justify-content: space-evenly;
}
section{
    width: 100%;
    box-sizing: content-box;
    display: flex;
    justify-content: space-evenly;
}
.card {
    width: 350px;
    height: 400px;
    border: 5px solid #678983;
    background-color: #E6DDC4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card_img{
    width: 100%;
    margin: 0px;
}
.card_desc{
    width: 90%;
    text-align: center;
    height: 30px;
    color: #181D31;
}
.card_boton{
    padding: 10px;
    border-radius: 10px;
    background-color: #181D31;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 3px #678983;
    text-align: center;
    text-decoration: none;
    width: 40%;
    margin-bottom: 20px;
}
.hist_ribon{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*padding: 80px 50px;*/
    gap: 20px;
}
.hist_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.hist_p{
    width: 45%;
    color: #E6DDC4;
    margin: 80px 50px;
}
article{
    width: 100%;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.videos{
    border: 1px solid black;
    /*height: 80px;*/
    width: 70%;
    background-color: black;
}
.controles{
    border: 1px solid black;
    background-color: #2d2d2d;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.ctrl_play{
    background-image: url('/assets/imagenes/play.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.ctrl_pause{
    background-image: url('/assets/imagenes/pausa.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.ctr_maximizar{
    background-image: url('/assets/imagenes/maximizar.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.ctrl_video{
    border: 1px solid black;
    /*border-radius: 5px;*/
    width: 32px;
    height: 32px;

    background-color: #E6DDC4;
    border-radius: 10px;
    /*border: 1px solid gray;*/
    box-shadow: 3px 3px #678983;
    color: #181D31;
}
.ctrl_video:hover{
    border: 1px solid #91e0a1;
    border-radius: 10px;
    /*box-shadow: 3px #0dda36;
    box-shadow: inset 0px 0px 3px 3px #91e0a1;*/
    box-shadow: 3px 3px #678983;
    /*background-color: slategray;*/
    width: 32px;
    height: 32px;

    
}
.ctrl_video:active{
    box-shadow: 0px 0px darkgray;
    transform: translate(3px, 2px);
}
.ctrl_info{
    border: 1px solid #E6DDC4;
    border-radius: 5px;
    width: 64px;
    height: 32px;
    text-align: center;
}
.ctrl_slider{
    border: 1px solid #E6DDC4;
    border-radius: 5px;
    height: 32px;
    width: 668px;
    display: flex;
}
.ctrl_info_p{
    font-size: .8em;
    margin: 8px;
    color: #E6DDC4;
}
.barra {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 10px;
}
  
.barra:hover {
    opacity: 1;
}

.barra::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 25px;
    border-radius: 5px; 
    background: #678983;
    cursor: pointer;
}
  
.barra::-moz-range-thumb {
    width: 15px;
    height: 25px;
    border-radius: 5px;
    background: #678983;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-self: center;
}
.target_container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.target_container2{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
p{
    color: #E6DDC4;
    align-self: center;
    text-align: center;
    width: 100%;

}
.target{
    border: 1px solid white;
    width: 275px;
    height: 400px;
    background-color: #2d2d2d;
    display: flex;
}
.target:hover{
    border: 1px solid rgb(238, 208, 11);
    width: 275px;
    height: 400px;
    background-color: #2d2d2d;
    display: flex;
}
.target2{
    width: 275px;
    height: 400px;
    background-color: #2d2d2d;
    display: flex;
}

.img_juego{
  width: 275px;
  height: 400px;
}

footer{
    background-color: #678983;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: #181D31;
}
.footer_izq{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 60px;
}
.footer_logo {
    height: 80px;
}
.footer_titulo {
    font-size: 14px;
    text-align: center;
}
#logo_chico{
    width: 200px;
    height: 80px;
}
#monitor{
    fill: none;
    stroke-width: 1px;
    stroke: #f0e9d2;
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
    animation: svg_animar 2s ease-in forwards;
}
#pantalla{
    fill: none;
    opacity: 0;
    stroke-width: 1px;
    stroke: #f0e9d2;
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: pantalla_svg 2s ease-in forwards;
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}
#teclado{
    fill: none;
    stroke-width: 1px;
    stroke: #f0e9d2;
    stroke-dasharray: 150px;
    stroke-dashoffset: 100px;
    animation: svg_animar 2s ease-in forwards;
}
#mouse{
    fill: none;
    stroke-width: 1px;
    stroke: #f0e9d2;
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: svg_animar 2s ease-in forwards;
}
#teclas{
    fill: none;
    stroke-width: 1px;
    stroke: #f0e9d2;
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: svg_animar2 3s ease-in forwards;
}
#logo_svg{
    opacity: 0;
    stroke: #000;
    animation: titulo_animar 1s ease-in forwards 3s;
}

@keyframes titulo_animar{
    to{
        opacity: 1;
    }
}
@keyframes pantalla_svg {
    0%{
        stroke-dashoffset: 0px;
        stroke-dasharray: 3000px;
    }
    50%{
        /*fill: rgb(24, 28, 48);*/
        fill:#495579;
        opacity: 0;
    }
    100%{
        stroke-dasharray: 3000px;
        fill:#495579;
        opacity: 1;
    }
}
@keyframes svg_animar{
    to{
        stroke-dashoffset: 0px;
    }
}
@keyframes svg_animar2{
    to{
        stroke-dashoffset: 0px;
        fill:#495579;
    }
}

